<app-navbar></app-navbar>
<div class="container" style="margin-top: 5%">
  <div class="row">
    <!-- First column for insert -->
    <div class="col-md-6">
      <form #myForm="ngForm" (ngSubmit)="updateUser()">
        <h3 class="text-center mb-4">
          Dettagli Profilo
          <button class="btn btn-outline-warning" (click)="isFormEnabled = true;" *ngIf="!isFormEnabled">Modifica</button>
          <button class="btn btn-outline-danger" (click)="isFormEnabled = false;" *ngIf="isFormEnabled">Annulla</button>
        </h3>
        <div class="mb-3">
          <label for="email" class="form-label">Nome</label>
          <input type="text" class="form-control" name="name" placeholder="Inserisci nome" id="name"
                 [(ngModel)]="user.name"
                 (ngModelChange)="showError = false; showSuccessUpdateProfile = false"
                 [disabled]="!isFormEnabled"
                 required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Cognome</label>
          <input type="text" class="form-control" name="surname" placeholder="Inserisci cognome" id="surname"
                 [(ngModel)]="user.surname"
                 (ngModelChange)="showError = false; showSuccessUpdateProfile = false"
                 [disabled]="!isFormEnabled"
                 required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Indirizzo</label>
          <input type="text" class="form-control" name="address" placeholder="Inserisci indirizzo" id="address"
                 [(ngModel)]="user.address"
                 (ngModelChange)="showError = false; showSuccessUpdateProfile = false"
                 [disabled]="!isFormEnabled"
                 required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Telefono</label>
          <input type="text" class="form-control" name="phone" placeholder="Inserisci numero di telefono" id="phone"
                 [(ngModel)]="user.phone"
                 (ngModelChange)="showError = false; showSuccessUpdateProfile = false"
                 [disabled]="!isFormEnabled"
                 required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" placeholder="Inserisci email" id="email"
                 [(ngModel)]="user.email"
                 (ngModelChange)="showError = false; showSuccessUpdateProfile = false"
                 [disabled]="!isFormEnabled"
                 required>
        </div>
        <br>
        <button type="submit"
                class="btn btn-primary"
                [disabled]="myForm.invalid || !isFormEnabled">
          Modifica Utente
        </button>
        <p *ngIf="showSuccessUpdateProfile" class="text-success mt-2">Dati modificati con successo.</p>
        <p *ngIf="showError" class="text-danger mt-2">Errore durante la modifica. Riprovare.</p>
      </form>
    </div>

    <div class="col-md-6">
      <form #passwordForm="ngForm" (ngSubmit)="updatePassword()">
        <h3 class="text-center mb-4">Cambio Password</h3>
        <div class="mb-3">
          <label for="password" class="form-label">Nuova Password</label>
          <div class="input-group">
            <input type="{{ hideNewPassword ? 'password' : 'text' }}"
                   class="form-control"
                   name="password"
                   id="password" placeholder="Inserisci nuova password"
                   [(ngModel)]="changePasswordRequest.newPassword"
                   (ngModelChange)="showSuccessChangePassword = false"
                   required>
            <button class="btn btn-outline-secondary" type="button" id="new-password-btn" (click)="hideNewPassword = !hideNewPassword">
              <fa-icon [icon]="hideNewPassword ? faEye : faEyeSlash"></fa-icon>
            </button>
          </div>
        </div>
        <button type="submit"
                class="btn btn-primary"
                [disabled]="passwordForm.invalid">
          Cambia Password
        </button>
        <p *ngIf="showSuccessChangePassword" class="text-success mt-2">Password modificata con successo.</p>
      </form>
    </div>
  </div>
</div>
