<app-navbar></app-navbar>
<h1 class="text-center mb-4">L'Antica Salumeria</h1>
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6" style="border-top: 50px">
      <p>Benvenuti all'Antica Salumeria, il luogo dove la passione per i sapori autentici si unisce alla tradizione italiana.</p>
      <p>Siamo una famiglia appassionata di gastronomia, con anni di esperienza nella selezione dei migliori salumi, formaggi e specialità italiane. Il nostro obiettivo è offrire ai nostri clienti solo il meglio, garantendo qualità, freschezza e genuinità in ogni prodotto che offriamo.</p>
      <p>Presso la nostra salumeria, troverete una vasta selezione di salumi stagionati, formaggi pregiati, olio extravergine di oliva, pasta artigianale e molto altro ancora. Ogni prodotto è curato nei minimi dettagli per soddisfare i palati più esigenti e portare in tavola l'autentico sapore italiano.</p>
      <p>Vi aspettiamo presso la nostra sede:</p>
      <p>Via Roma, 123 - 00100, Roma (RM)</p>
      <p>Per contattarci, scrivete a: <a href="mailto:info@antica-salumeria.com">info.antica-salumeria.com</a></p>
    </div>
    <div class="col-3"></div>
  </div>
</div>
